.ipynb_checkpoints/
__pycache__/venv/
venv/
.venv/
.vscode/
.openai_api_key
01-intro/__pycache__/
02-open-source/__pycache__/
.VirtualBox/
.astropy/
.bash_history/
.boto/
.ccp/
.condarc
.config/
.continuum/
.crossnote/
.docker/
.dotnet/
.etrader/
.gdal/
.git-for-windows-updater
.gitconfig
.gnupg/
.gradle/
.gumiho/
.idea/
.ipython/
.javacpp/
.jdks/
.jupyter/
.kaggle/
.keras/
.kube/
.lesshst
.m2/
.matplotlib/
.mito/
.node_repl_history
.prefect/
.pylint.d/
.python_history
.recently-used.xbel
.spyder-py3/
.ssh/
.streamlit/
.udemy_enroller/
.vscode/
.wdm/
.wget-hsts
1_0_load_and_display_data.ipynb
3D Objects/
AppData/
Application Data/
Assignment (1).ipynb
Build_a_Regression_Model_in_Keras_Gabor_Jonas.ipynb
Contacts/
Cookies
Customer Segmentation with K-means.ipynb
Dane aplikacji
Data pre-processing for clustering.ipynb
DataSpellProjects/
Desktop/
Documents/
Downloads/
Favorites/
JupyterProjects/
Library/
Links/
Menu Start
Microsoft/
MicrosoftEdgeBackups/
Moje dokumenty
Music/
NTUSER.DAT
NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
NTUSER.DAT{5ca68b52-3851-11ed-8394-6c5d3a19548c}.TM.blf
NTUSER.DAT{5ca68b52-3851-11ed-8394-6c5d3a19548c}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{5ca68b52-3851-11ed-8394-6c5d3a19548c}.TMContainer00000000000000000002.regtrans-ms
NetHood
"OneDrive - Polsko-Japo\305\204ska Wy\305\274sza Szko\305\202a Technik Komputerowych/"
OneDrive - konutech/
OneDrive/
Pictures/
Pobrane/
PrintHood
PycharmProjects/
PythonEditorWrapper_f55a4e8c-539c-41fa-baad-107fe0009872/
Recent
Saved Games/
Searches/
SendTo
Szablony
Ustawienia lokalne
Videos/
a6_w2_ex1.ipynb
airbnb-recruiting-new-user-bookings.ipynb
airflow/
balancing_of_data_set_essentials.ipynb
data-engineering-zoomcamp-capstone-01/
data-engineering-zoomcamp/
debug.log
directx/
docker/
dwhelper/
e.h5
edb_languagepack_2.exe
edb_npgsql.exe
edb_pgagent_pg14.exe
edb_pgbouncer.exe
edb_pgjdbc.exe
edb_psqlodbc.exe
edb_psqlodbc.exe-20220810105410
external_providers.xml
getting-started/
gfk_data_analyst/
google_finance_scrapping/
kafka-spark-postgresql-airflow/
knime-workspace/
./
logs/
machine-learning-zoomcamp-capstone-02/
mapping-data/
ml-zoomcamp/
panel-demo/

postgis_3_2_pg14.exe
projects/
randomfile.txt
sakila_pgsql_dump.sql
sakila_store_pqsql_dump2.sql
send_email.py
statistics.ipynb
superset/
test.py
tet/
tf_gpu_backup.yaml
zoomcamp-capstone-01/
zoomcamp-de-01/
zoomcamp-hw/
zoomcamp/
